* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #ccc;
}

body {
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto;
}

button {
  cursor: pointer;
}

img {
  max-width: 60px;
}

li {
  list-style: none;
}

.text-red {
  color: red;
}

.remove-btn {
  background-color: none;
  border: none;
}

.container {
  margin: 30px auto;
  padding: 16px;
  width: 100%;
  max-width: 500px;
}

/* Header */
header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-start;
}

header h1 {
  font-weight: 300;
}

.edit-item {
  color: #ccc;
}

/* Form */

.form-control {
  margin-bottom: 20px;
}

.form-control input {
  width: 100%;
}

.form-control button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.form-control button:hover {
  background-color: #444;
}

.form-input {
  border: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
}

.form-input-filter {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid var(--border-color);
}

/* List Items */

.items {
  margin: 40px 0px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.items li {
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  margin: 0px 8px 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 18px;
  border-radius: 4px;
  width: 45%;
}

/* Clear All Button */

.clear-all {
  border: 1px solid var(--border-color);
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}

.clear-all:hover {
  background-color: #f1f1f1;
}

@media (max-width: 500px) {
  .items {
    flex-direction: column;
  }
  .items li {
    width: 100%;
  }
}
